#################
## FAUST
#################

*.cpp
*.tmp.cpp
*.tmp.dsp
*.*~
*.lv2
/faust.*/
/*-svg/
/RMS_FBFFcompressor
/RMS_FBcompressor_peak_limiter
/RMS_FBcompressor_peak_limiter_mono
/drumDuxpander
